.skills {

    .skills-display {
        display: flex;
        margin-top: 2rem;

        .remove {

            &:hover {
                cursor: pointer;
                color: blue;
            }
        }
    }
}