@import '../../../styles/variables.scss';

.work-experience {

    .fields-group {
        margin: 1rem;
        padding: 1.5rem;
        border: 1px dotted $gray1;
        border-radius: $border5;
    }

    .experience-display {
        display: grid;

        .experience-heading {
            margin: .5rem 1rem;
            padding: .5rem 1rem;
            font-style: italic;
        }

        .experience-item {
            flex: 1;
            display: flex;
            background: white;
            padding: 1rem;
            margin: 1rem;
            align-items: center;
            border-left: 3px solid $blue1;
        }

        .icons {
            padding: 0.2rem 1rem;
            display: flex;
            align-items: center;
            border-left: 1px solid $gray1;

        }

        .edit {
            margin-left: auto;
            color: $dark1;

            &:hover {
                cursor: pointer;
                color: $gray1;
            }
        }

        .remove {
            font-weight: bold;
            color: $red;

            &:hover {
                cursor: pointer;
                color: $gray1;
            }
        }
    }
}