@import './variables.scss';

.btn {
    padding: 1rem;
    margin: 1rem 0;
    border: none;
    border-radius: $border5;
    background: $gray2;

    &:hover {
        cursor: pointer;
        opacity: .9;
    }

    &--blue {
        background: $blue2;
        color: white;
    }
}

.pill {
    gap: 1rem;
    background: $gray3;
    margin: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border30;
    font-size: 12px;
    padding: .5rem 1.2rem;

    .icon {
        color: $blue1;
    }

    &.pill--light {
        background: white;
    }
}

.heading-3 {
    width: 100%;
    margin: 2rem 0;
}
// Text styles

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

// Text sizes
.text-12 {
    font-size: 1.2rem;
}

.text-14 {
    font-size: 1.4rem;
}

.text-16 {
    font-size: 1.6rem;
}

// margins
.my-half1 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}