/* Global variables */
$blue1: #004e98;
$blue2: #3a6ea5;
$gray1: #c0c0c0;
$gray2: #ebebeb;
$gray3: #f7f7f7;
$red: #e87048;
$green1: #2a9d8f;
$green2: #80ed99;

// Shadows
$shadow1: 0 5px 20px 0 rgba(100,100,100,.2);

// borders
$border1: 1rem;
$border2: 2rem;