@import '../../styles/variables.scss';

.template-one {
    padding: 2rem;

    .overview {
        display: grid;
        grid-template-columns: 1fr 6fr;
        overflow: hidden;
        gap: 1rem;

        .profile-img {

            overflow: hidden;
            border-radius: 50%;
            width: 150px;
            height: 150px;
            object-fit: contain;

            img {
                width: 100%;
                height: auto;
                transform: scale(1.2)
            }
        }
        
        .description {
            padding: 0 1rem;
            .name {
                font-size: 4rem;
                margin-bottom: 1.5rem;
            }
            .role {
                margin-bottom: 1rem;    
            }
            .summary {
                font-style: italic;
                font-size: 1.6rem;
            }

        }
    }

    .contact-data {
        display: flex;
        flex-wrap: wrap;

        .heading {
            width: 100%;
            margin: 2rem 0;
        }
    }

    .work-experience {
        display: flex;
        flex-direction: column;

        .section {
            display: grid;
            grid-template-columns: 1fr 4fr;
            margin-bottom: 2rem;

            .date {
                border-right: 2px solid $blue1;
                margin-right: 2rem;
            }
        }
    }
}