@import '../styles/variables.scss';

.mobile-menu {
    margin: 1rem;
    display: none;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        button {
            flex: 1;
            padding: 1rem;
            background: white;
            border: none;
            border-radius: .5rem;

            &:hover {
                cursor: pointer;
                background: $gray3;
                box-shadow: $shadow1;
            }

            &.active {
                background: $blue2;
                color: white;
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .mobile-menu {
        display: block;
    }
}