@import '../../styles/variables.scss';

form {

    .section {
        margin-bottom: 3rem;
    }

    .section-title {
        display: flex;
        border-bottom: 1px solid $gray1;
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        align-items: center;
        gap: 1rem;

        .icon {
            transition: 2s ease-in;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .fields {
        padding: 1.5rem;
        border: 1px solid $gray3;
        border-radius: .5rem;
        background: $gray3;
        display: none;

        label {
            display: block;
            margin-bottom: 3rem;
        }
        input, textarea {
            display: block;
            width: 80%;
            margin: 1.5rem 0;
            padding: .75rem;
            border: none;
            border-left: 3px solid $gray1;

            &.filled {
                border-left: 3px solid $blue1;
            }

            &:focus {
                outline: none;
                border-left: 3px solid $green2;
            }
        }

        &.active {
            display: block;
        }
    }
}