.App {
    .main {
        display: grid;
        grid-template-columns: 2fr 3fr;
        max-width: 1440px;
        margin: 0 auto;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 720px) {
    .App {
        .main {
            display: grid;
            grid-template-columns: 1fr;
            max-width: 1440px;
            margin: 0 auto;
            margin-top: 1rem;
        }
    }
}